In [1]:
import numpy as np
import pandas as pd
train = pd.read_csv('./deep-learning-from-scratch-master/dataset/train_le.csv')
test = pd.read_csv('./deep-learning-from-scratch-master/dataset/test_le.csv')

train.shape, test.shape

((891, 12), (418, 12))

In [2]:
train.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,3,7.2500,"Braund, Mr. Owen Harris",0,1,3,1,1,0,A/5 21171
1,38.0,C85,1,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,0,1,1,PC 17599
2,26.0,NaN,3,7.9250,"Heikkinen, Miss. Laina",0,3,3,0,0,1,STON/O2. 3101282
3,35.0,C123,3,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,0,1,1,113803
4,35.0,NaN,3,8.0500,"Allen, Mr. William Henry",0,5,3,1,0,0,373450

In [3]:
train = train.drop(['Name','Ticket','Cabin','Embarked','PassengerId'],axis = 1)
test = test.drop(['Name','Ticket','Cabin','Embarked','PassengerId'],axis = 1)

In [4]:
train.head()

    Age     Fare  Parch  Pclass  Sex  SibSp  Survived
0  22.0   7.2500      0       3    1      1         0
1  38.0  71.2833      0       1    0      1         1
2  26.0   7.9250      0       3    0      0         1
3  35.0  53.1000      0       1    0      1         1
4  35.0   8.0500      0       3    1      0         0

In [5]:
train.fillna(np.mean(train.Age), inplace = True)
train.fillna(0, inplace=True)

In [6]:
train['Age'] = train['Age'].astype(int)

In [7]:
y_train = train.Survived
y_test = test.Survived
x_train = train.drop(['Survived'], axis = 1)
x_test = test.drop(['Survived'], axis = 1)

In [8]:
from keras.utils import np_utils
y_train = np_utils.to_categorical(y_train,2)
y_test = np_utils.to_categorical(y_test, 2)

x_train = np.array(x_train)
x_test = np.array(x_train)

y_train.shape, y_test.shape, x_train.shape, x_test.shape

((891, 2), (418, 2), (891, 6), (891, 6))

In [18]:
import sys, os
sys.path.append('./deep-learning-from-scratch-master')
from ch05.two_layer_net import TwoLayerNet

network = TwoLayerNet(input_size=6, hidden_size=10, output_size=2)
iters_num = 10000
train_size = x_train.shape[0]
batch_size = 100
learning_rate = 0.1
train_loss_list = []
train_acc_list = []
test_acc_list = []

iter_per_epoch = max(train_size / batch_size, 1)

for i in range(iters_num):
    batch_mask = np.random.choice(train_size, batch_size)
    x_batch = x_train[batch_mask]
    t_batch = y_train[batch_mask]
    # 기울기 계산
#     grad = network.numerical_gradient(x_batch, t_batch) # 수치 미분 방식
    grad = network.gradient(x_batch, t_batch) # 오차역전파법 방식(훨씬 빠르다)
    # 갱신
    for key in ('W1', 'b1', 'W2', 'b2'):
        network.params[key] -= learning_rate * grad[key]
    loss = network.loss(x_batch, t_batch)
    train_loss_list.append(loss)
    
    if i % iter_per_epoch == 0:
        train_acc = network.accuracy(x_train, y_train)
        test_acc = network.accuracy(x_test, y_test)
        train_acc_list.append(train_acc)
        test_acc_list.append(test_acc)
        print(train_acc, test_acc)

0.6161616161616161 0.0